<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: head"></th:block>
</head>
<body>

<th:block th:include="fragments/navbar :: navbar"></th:block>

<div class="row">
    <div class="col-md-10 offset-md-1">
        <h1>Information Unavailable</h1>
        <p>We're sorry.  Nutritional information for the selection <span th:text="${ingredient.name}">selections</span>
            is not currently available.  Please check back later.</p>
        <button class="btn btn-primary" onclick='javascript:window.history.back()'>Back</button>
    </div>
</div>

</body>
</html>